*{
  box-sizing: border-box;
}
.fondo{
  position: relative;
  /* display:block; */
  display: flex;
  align-items: center;
  background-color:#5946a7;  
  /* filter:brightness(0.4); */
}

.fondo img {
  width: 100%;
  height: 600px;
  object-fit: cover;  
  opacity: 50%;
}
.fondo .subtitulo{
  position: absolute; 
  margin:50px;
  width: 400px;
  height:90px;
  color: #fff;
}

.section1 {
  width: 50%;
    
}

.section1 .container{
  width: 50%;
  display: block;
  margin: 0px auto;
  padding: 50px 0px ;
  display:inline-block;  
}

.container.titulo {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 10px;

}
.container .titulo{
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 20px;
}

.container .titulo h1{
  text-transform: uppercase;
  font-size: 40px;
  color: #c4d156;
}

.container .titulo h1::after{
  content: "";
  height: 5px;
  width: 100px;
  background-color: #c4d156;
  border-radius: 25px;
  display: block;
  margin: auto;
}
.content{
  float: left;
  width: 500px;
  padding:20px;
  margin-left: 100px;
  
}

.content .titulocontent{
  margin-bottom: 25px;
  
}
.content .articulo1 p{
  margin-top: 20px;
  margin: 0 ;
  color: #333;
  font-size: 17px;
  line-height: 2;
  
  

}
.content .articulo1 .button{
  margin-top: 25px; 
  text-align: center;
}

.content .articulo1 .button a{
  text-decoration: none; 
  padding: 8px 25px;
  background-color: #CDF0EA;
  border-radius: 40%;
  font-size: 18px;
  color: #fff;
  letter-spacing: 1.5px;
}

.content .articulo1 .button a:hover{
  color: #fff;
  background-color: #f28f92;
  transition: 1s ease;
}
.sectionimagen{
  display: inline-block;
}

.sectionimagen img{
  width:550px;
  height: 300px;
  object-fit: cover; 
  float: right;
  margin-left: 60px;
}
.trio{
  display: grid;
  padding-left: 60px;
  grid-template-columns: repeat(3, 176.3px);
  justify-items: center;
  gap: 10px ;
  margin-bottom: 25px;
}
.trio img{
  width: 100%;
  height: 150px;
  object-fit: cover; 
  padding:10px 0;

}
.historiati{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 25px;
}
.contenidoto{
  background-color: #f28f92;
  padding: 100px;
}
.card{
  width: auto;
  display: flex;
  text-align: center;
}
.carta{
  text-align: center;
  padding: 5px 100px;
}
.subticard{
  padding: 2px 60px;
  font-size: 20px;
}
.linea{
  width: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;  
  }


.circulo{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgb(175, 38, 177);  
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.5s ease;
    
  }
.tarjpresentacion{
  background-color: #88941E;
}
.titulotarjetas{
  text-align: center;
  padding: 10PX ;
}
#presentacion{
  display: flex;
  justify-content: center;
  

}
.carta1 img{
  width: 100%;
  height: 160px;
  border-radius: 30px;
  object-fit: cover;
}
.carta1{
  width: 20%;
  margin: 50px 30px;
  background-color: #fff;
  padding: 15px;
  text-align: center;
  border-radius: 30px;
}
.carta1 h3{
  font-size: 20px;
}
.equipo {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
}


/* 
 */
.footer {
  width: 100%;
  clear:both;
}