
#formulario {
  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px auto; 
  max-width: 600px; 
}
.titulo{
  text-align: center;
}

.tamanio {
  width: 100%;
  height: 30px;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

select.tamanio {
  height: auto;
}
.forml{  align-items: center;
}
.boton {
  padding: 0.5em 1em;
  border: none;
  background: rgb(100, 200, 255);
  cursor: pointer;
  border-radius: 5px;
  
}

.tamanio {
  width: 90%;
  height: 30px;
  margin: 0.5rem;
}

@media screen and (max-width: 768px) {
  .tamanio{
    width: 100%;
  }
}